<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 	<meta name="viewport" -->
<!-- 		content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<meta name="description" content="">
	<meta name="author" content="">
	
	<title>Admin - Đăng ký tin mới</title>
	
	<!-- Custom fonts for this template-->
	<link
		th:href="@{/startbootstrap-sb-admin-gh-pages/vendor/fontawesome-free/css/all.min.css}"
		rel="stylesheet" type="text/css">
	
	<!-- Page level plugin CSS-->
	<link
		th:href="@{/startbootstrap-sb-admin-gh-pages/vendor/datatables/dataTables.bootstrap4.css}"
		rel="stylesheet">
	
	<!-- Custom styles for this template-->
	<link th:href="@{/startbootstrap-sb-admin-gh-pages/css/sb-admin.css}"
		rel="stylesheet">
	<script th:src="@{/ckeditor/ckeditor.js}"></script>
	<script th:src="@{/js/sample.js}"></script>
	<!-- 	<script th:src="@{ckeditor/adapters/jquery.js}"></script> -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<link rel="stylesheet" th:href="@{css/samples.css}">
	<link rel="stylesheet"
		th:href="@{/toolbarconfigurator/lib/codemirror/neo.css}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script>
			$(document).ready(function(){
			    $("#btnRegister").click(function(){
			    	var data = CKEDITOR.instances.editor.getData();
					$("#detail").val(data);
 			        $("#frmMain").submit(); // Submit the form
			    });
			});
	</script>
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Admin</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      
    </div>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/change-password">Đổi mật khẩu</a>
<!--           <a class="dropdown-item" href="#">Activity Log</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

	<div id="wrapper">

	    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/list-news">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Quản lý tin</span>
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" href="/list-advisory">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Quản lý tư vấn</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-subscribe">
          <i class="fas fa-fw fa-table"></i>
          <span>Quản lý email </span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list-message">
          <i class="fas fa-fw fa-table"></i>
          <span>Quản lý tin nhắn </span></a>
      </li>
<!--       <li class="nav-item"> -->
<!--         <a class="nav-link" href="/users"> -->
<!--           <i class="fas fa-fw fa-tachometer-alt"></i> -->
<!--           <span>Quản lý user</span> -->
<!--         </a> -->
<!--       </li> -->
    </ul>

		<div id="content-wrapper">

			<div class="container-fluid">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html">Dashboard</a>
					</li>
					<li class="breadcrumb-item active">Đăng ký tin</li>
				</ol>

				<!-- Page Content -->
				
				<!-- Form -->
				<div class="main">
			      <h1>Đăng ký tin mới</h1>
			      <div>
			        <form id="frmMain" th:object="${newsForm}" th:action="@{/news/add/true}" method="post">
			          <div class="form-group">
			          	<div class="form-row">Nhan đề:</div>
			            <div class="form-row">
			              <div class="col-md">
			                <div class="form-label-group">
			                  <input type="text" id="title" class="form-control" placeholder="Điền nhan đề" required="required" autofocus="autofocus" th:field="*{title}">
			                  <label for="title">Nhan đề</label>
			                </div>
			              </div>
			            </div>
			          </div>
			          <div class="form-group">
			          <div class="form-row">Nội dung tóm tắt:</div>
			            <div class="form-label-group">
			              <textarea class="form-control" rows="5" id="summary" placeholder="Nội dung tóm tắt" required="required" th:field="*{summary}"></textarea>
			            </div>
			          </div>
			          <div class="form-group">
				          <div class="form-row">Link ảnh hiển thị:</div>
				            <div class="form-row">
				              <div class="col-md">
				                <div class="form-label-group">
				                  <input type="text" id="urlImage" class="form-control" placeholder="Link ảnh hiển thị(size 730x389.33)" required="required" autofocus="autofocus" th:field="*{urlImage}">
				                  <label for="urlImage">Link ảnh hiển thị(size 730x389.33)</label>
			               		 </div>
				              </div>
				            </div>
			          </div>
			          <div  class="form-group">
			          	  <div class="form-row">Nội dung chi tiết:</div>
				          <div id="editor">
								<h1>Nhập nội dung bài viết ở đây!</h1>
						 </div>
						 <input type="hidden" id="detail" class="form-control" th:field="*{detail}">
			          </div>
			          <button id="btnRegister" type="button" class="btn btn-primary btn-block">Đăng ký</button>
			        
			        </form>
			        
			      </div>
			    </div>
				<!-- End Form -->
				<hr>
				<p>Trang đăng ký tin mới</p>

			</div>
			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
<!-- 			<footer class="sticky-footer"> -->
<!-- 				<div class="container my-auto"> -->
<!-- 					<div class="copyright text-center my-auto"> -->
<!-- 						<span>Copyright © Quảng cáo Kiên Giang</span> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 			</footer> -->

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="/logout">Logout</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script
		th:src="@{/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js}"></script>
	<script
		th:src="@{/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<!-- Core plugin JavaScript-->
	<script
		th:src="@{/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js}"></script>
	<script>
		initSample();
	</script>

</body>

</html>
